.main {
    flex: 0 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.name {
    margin-top: 40px;
    font-size: 1.6rem;
    font-weight: 600;
}

.position {
    position: relative;
    margin-top: 20px;
    font-size: 1.2rem;

    &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        width: 75%;
        height: 2px;
        background-color: rgb(131, 38, 38);
        border-radius: 2px;
        transform: translateX(-50%);
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background-color: rgb(131, 38, 38);
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color .2s;
    margin-top: 50px;

    &:hover {
        background-color: rgb(167, 50, 50);
    }
}