.aside {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100vh;
  background-color: #FBCF57;
  z-index: 10;
  transition: width 0.2s ease-out 0s;
}
.logo {
  width: 100px;
  margin: 10px 0 0;
}
.close {
  width: 100px;
  transition: width 0.2s ease-out 0.2s;
}
