body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #FBCF57;
  --background-hover: #fbdb57;
  --background-active: #fbd553;
  --color-orange: #D97E15;
  --color-popup: #FCFAF4;
  --color-white: #fff;
  --color-border: #EFEFEF;
  --color-gray: #C5C5C5;
  --color-dark: #2B2B2B;
  --color-red: #b81b0f;
  --color-red-hover: #da1b0f;
  --color-red-active: #a5190e;
  --color-green: #4abb15;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
